@import '../sass/main-sass-style-file.scss';

.about {
  padding: 0.75rem 1.5rem;
  background-color: wheat;

  & > h2 {
    margin: 0.5rem;
  }

  & p > span {
    color: $red-test;
  }

} // .about
