.notification {
  position: fixed;
  z-index: 101;
  width: 60vw;
  height: 60vh;
  top: 20vh;
  left: 20vw;
  padding: 2rem 4rem;
  margin: 1rem auto;
  background-color: rgb(189, 183, 107, 0.75);
  border: 2px solid yellowgreen;
  // transform: translate(-10vw, -30vh);

  h3 {
    text-align: center;
    font-size: 2em;
    color: darkgreen;
  }
}
