.searcher {
  background-color: peachpuff;

  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: beige;

    & > input {
      font-size: 1.5em;
      min-width: 66%;
    }

  } // .search-box

  hr {
    background-color: coral;
  }

  h4 {
    padding: 1rem;
  }
} // .searcher
