.app-container {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0.25em 0;
  background-color: whitesmoke;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f0f0f0; // whitesmoke == #f5f5f5
  }

  .main-app-title {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    user-select: none;
    background-color: whitesmoke;
    transition: background-color 0.4s;

    &:hover {
      background-color: #f0f0f0;
    }

    h2 {
      margin: 0;
      background-color: transparent;
      transition: color 0.4s, transform 0.5s, letter-spacing 0.7s 0.15s, word-spacing 0.5s 0.1s, font-weight 0.5s;
    }

    &:hover h2 {
      color: violet;
      font-weight: bolder;
      letter-spacing: 0.6rem;
      word-spacing: 1rem;
      transform: scale(1.5);
    }



  } // .main-app-title

} // .app-container
